name: Java CI

on: [ push, pull_request ]

permissions:
  contents: write

jobs:
  build:
    # Only run on PRs if the source branch is on someone else's repo
    if: "${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}"

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Gradle
        run: ./gradlew build test --stacktrace --scan
      - name: Generate and submit dependency graph
        if: "${{ github.event_name != 'pull_request' }}"
        uses: gradle/actions/dependency-submission@v5
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: SkinsRestorer
          path: |
            ./build/libs/SkinsRestorer.jar
            ./build/libs/SkinsRestorer-Mod-Fabric-*.jar
            ./build/libs/SkinsRestorer-Mod-NeoForge-*.jar
